* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    line-height: 1.6;
     background: linear-gradient(to right, #ff7e5f, #feb47b);
}

/* Header Styling */
header {
    background-color: #1a1a1a;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    font-size: 30px;
    font-weight: 600;
    color: #ff7e5f;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7e5f;
}

/* Hero Section */
.hero {
    position: relative;
    /* height: 100vh; */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    color: white;
 
    padding-top: 100px;
}

.hero .content h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero .content p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 40px auto;
    line-height: 1.8;
}

/* Video Container */
.video-container {
    border: 10px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 80%;
    height: 300px !important;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .hero .content h2 {
        font-size: 36px;
    }

    .hero .content p {
        font-size: 18px;
    }

    nav ul li {
        margin-left: 15px;
    }
}
